<form action="/logout">
    <input type="submit" value="logout">
</form>

<form action="/api/cart/">
    <input type="submit" value="Cart">
</form> 

<h1>Products</h1>
<div>
    {{#if products}}
    <table>
        <thead>
            <th>Name</th>
            <th>Price</th>
            <th>Code</th>
            <th>Description</th>
            <th>TimeStapm</th>
            <th>Thumbnail</th>
            <th></th>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td>{{this.code}}</td>
                <td>{{this.description}}</td>
                <td>{{this.timestamp}}</td>
                <td><img style="width: 50px; height:50px" src={{this.thumbnail}}></td>
                <td>
                    <form action="/api/cart/" method="POST">
                        <input type="hidden" value="{{this.title}}" name="title">
                        <input type="submit" value="Add to cart">
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <h2>No hay productos</h2>
    {{/if}}
</div>

<h1>User Data</h1>
<ul>
    <li>Username: {{this.username}}</li>
    <li>Name: {{this.name}}</li>
    <li>Age: {{this.age}}</li>
    <li>Address: {{this.address}}</li>
    <li>Phone Number: {{this.phone_number}}</li>
    <li>Profile Photo: <img style="width: 50px; height:50px" src="../uploads/{{this.username}}.jpeg" alt="photo"></li>
</ul>